<div class="ui container" id="header">
    <a class="ui dropdown item">
        Справочники
        <i class="dropdown icon"></i>
        <div class="menu">
            <div class="header">Адресная часть</div>
            <div class="item" ui-sref="address-street-types">Типы улиц</div>
            <div class="item" ui-sref="address-streets">Улиц</div>
            <div class="item" ui-sref="address-buildings">Строения</div>
            <div class="item" ui-sref="address-apartments">Квартиры</div>
            <div class="divider"></div>
            <div class="item">Лицевые счета</div>
        </div>
    </a>
</div>
