.header {
  display: inline-flex;
  min-width: 1220px;
  .header-logo {
    float: left;
    padding-top: 5px;
    padding-left: 24px;
    font-weight: 400;
    font-size: 2em;
    color: #404040;
    border-bottom: 1px solid #e9e9e9;
    width: 262px;
    text-decoration: none;
  }
  .header-menu {
    > li {
      float: right;
    }
    width: 100%;
    .header-working-period {
      background-color: transparent;
      cursor: default;
      color: #404040 !important;
    }
  }
}
